---
import {model} from "../model";
const {education} = model;
---
<div class="card bg-base-100 border">
    <div class="card-body">
        <h2 class="card-title">Education</h2>
        <div class="flex flex-col gap-4">
            {education.map(e =>
                    <div>
                        <h3 class="font-semibold">{e}</h3>
                    </div>
            )}
        </div>
    </div>
</div>