---
import {model} from "../model";
const {languages} = model;
---
<div class="card bg-base-100 border">
    <div class="card-body">
        <h2 class="card-title">Languages</h2>
        <ul class="space-y-2 text-sm">
            {languages.map((l: { name: string, level: string }) =>
                    <li class="flex items-center gap-2">
                        <span>{l.name}</span>
                        <span class="badge badge-outline">{l.level}</span>
                    </li>
            )}
        </ul>
    </>
</div>