<div class="card bg-base-100 border">
    <div class="card-body">
        <h2 class="card-title">Languages</h2>
        <ul class="space-y-2 text-sm">
            <li class="flex justify-between">
                <span>Spanish</span>
                <span class="badge badge-outline">Native</span>
            </li>
            <li class="flex justify-between">
                <span>English</span>
                <span class="badge badge-outline">Intermediate</span>
            </li>
            <li class="flex justify-between">
                <span>Hebrew</span>
                <span class="badge badge-outline">Intermediate</span>
            </li>
        </ul>
    </div>
</div>