---
import {model} from "../model";
const {skills} = model;
---
<div class="card bg-base-100 border">
    <div class="card-body">
        <h2 class="card-title">Skills</h2>
        <div class="flex flex-wrap gap-2">
            {skills.map(s =>
                    <span class:list={['badge', s.class]}>{s.name}</span>
            )}
        </div>
    </div>
</div>
